*{
    margin: 0;
}
.main_block{
    width: 97%;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }
.upper_block{
    width: 100vw;
    border: 1px solid blue;
    height: 100vh;
    display: flex;
}
.nav_options{
    width: 22%;
    height: 100%;
    font-size: 3vw;
    border: 1px solid rgb(255, 0, 242);
    background-color: rebeccapurple;
    
}
#asideTop{
    height: 30vh;
    border: 0px solid white;
}
#asideBottom{
    height: 70vh;
    font-size: 2vw;
    border: 0px solid white;
    color: white;
    font-weight: bold;
}


/*
#one1, #two2, #three3{
    border:2px solid rgb(128, 0, 122);
    border-radius: 25%;
}*/
a{
   /*margin-top: 10px;*/
    color: rgb(255, 255, 255);
    text-decoration: none;
}

li{float: right;
    list-style-type: none;
    border: 1px solid white;
    margin-top: 15px;
    font-weight: bold;
}
.screen_block{
    float: left;
    width: 78%;
    height: 100%;
    border: 0px solid rgb(229, 255, 0);
    background-color: rgb(240, 221, 240);
}
#iframe_screen{
    width: 100%;
    height: 95%;
    border: none;
}
#screen1{
    width: 100%;
    height:20%;
    font-size: 23vw;
}
.input, .click{
    width: 13vw;
    height: 13vw;
    font-size: 5vw;
    border: none;
    background-color:white; 
    font-family: cursive;
    background-color: rgb(240, 221, 240);
}
.lower_block{
    width:22vw;
    border:1px solid rgb(255, 255, 255);
    color: white;
}
@media screen and (max-width: 800px) {
    .input, .click{width: 22vw; height: 22vw;font-size: 13vw;}
    
}
.input:hover{
    background-color: rgb(47, 120, 255);
}
.click:hover{
    background-color: rgb(47, 120, 255);
}
.inputsci:hover{
    background-color: rgb(47, 120, 255);
}
.clicksci:hover{
    background-color: rgb(47, 120, 255);
}
.inputsci, .clicksci{
    width: 17vw;
    height: 16vw;
    font-size: 8vw;
    border: none;
    background-color:white; 
    font-family: cursive;
    background-color: rgb(240, 221, 240);
}

#hex, #oct, #binary{
    font-size: 6vw;
}

